<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/static/img/logo_Psi.png">

    <!-- CSS FILES -->
    <link rel="stylesheet" href="/static/css/personal.css">
    <link href="/static/css/templatemo-first-portfolio-style.css" rel="stylesheet">

    <!-- Extras -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,600" rel="stylesheet">


    <!-- Bootsrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/css/magnific-popup.css" rel="stylesheet">

    <title>Registro</title>

</head>

<body>

    <form class="row g-3" action="/CrearCuenta" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{csrf_token() }}">
        <div></div>
        <div class="col-md-4">
            <label for="validationDefault01" class="form-label">Nombre</label>
            <input name="nombrePaci" type="text" class="form-control border border-dark" id="validationDefault01"
                value="" required
                pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'\-]{2,35}"
                title="Solo letras Minimo 2 Maximo 35" />
        </div>
        <div class="col-md-4">
            <label for="validationDefault02" class="form-label">Apellido Paterno</label>
            <input name="apellidoPPaci" type="text" class="form-control border border-dark" id="validationDefault02"
                value="" required
                pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'\-]{2,25}"
                title="Solo letras Minimo 2 Maximo 25" />
        </div>
        <div class="col-md-4">
            <label for="validationDefault02" class="form-label">Apellido Materno</label>
            <input name="apellidoMPaci" type="text" class="form-control border border-dark" id="validationDefault02"
                value="" required
                pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'\-]{2,25}"
                title="Solo letras Minimo 2 Maximo 25" />
        </div>
        <div></div>
        <div class="row justify-content-evenly">
            <div class="col-4">
                <label for="validationDefault02" class="form-label">Correo</label>
                <input name="correoPaci" type="email" class="form-control border border-dark" id="validationDefault02"
                    value="" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" size="29"
                    title="Correo inavlido" />
            </div>



            <div class="col-4">
                <label for="validationDefault03" class="form-label">Contraseña</label>
                <input name="contraPaci" type="password" class="form-control border border-dark"
                    id="validationDefault03" required
                    pattern="^(?=.*?[A-Z])(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W]){1,})(?!.*\s).{8,}$"
                    title="Escriba al menos 8 caracteres, 1 digito, 1 mayúscula, 1 minúscula, 1 carácter especial" />
            </div>

        </div>

        <div></div>
        <div class="col-4">
            <label for="validationDefault02" class="form-label">Sexo</label>
            <select name="sexoPaci" class="form-select border border-dark" aria-label="Default select example" required
                title="Selecione una opción">
                <option value="">Selecciona Uno...</option>
                <option value="Hombre">Hombre</option>
                <option value="Mujer">Mujer</option>
                <option value="Otro">Prefiero no decirlo</option>
            </select>
        </div>
        <div></div>
        <div class="row">
            <div class="col-auto me-auto"></div>
            <div class="col-auto"><a href="#">
                    <button class="btn btn-secondary col-auto" type="button">Cancelar</button>
                </a></div>
            <div class="col-auto">
                <button class="btn btn-primary col-auto" type="submit">Enviar</button>
            </div>
        </div>
    </form>

    <!-- JAVASCRIPT FILES -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.sticky.js"></script>
    <script src="/static/js/click-scroll.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/magnific-popup-options.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="https://kit.fontawesome.com/bcd45c0483.js" crossorigin="anonymous"></script>

    <script src="/static/js/jspersonal.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/main.j"></script>

</body>

</html>