<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de eventos</title>
    <link rel="stylesheet" type="text/css" href="/static/css/css_prueba copy.css">
</head>

<body>
    <div class="table-container">
        <!-- Tabla de eventos -->
        <table>
            <thead>
                <tr>
                    <th>FECHA</th>
                    <th>HORA</th>
                    <th>NOMBRE</th>
                    <th>MODALIDAD</th>
                    <th>UBICACIÓN</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01/06/2023</td>
                    <td>10:00 AM</td>
                    <td>Conferencia sobre HTML5 y CSS</td>
                    <td>Virtual</td>
                    <td>En línea</td>
                </tr>
                <tr>
                    <td>15/06/2023</td>
                    <td>02:00 PM</td>
                    <td>Taller de diseño web responsivo</td>
                    <td>Presencial</td>
                    <td>Centro de Convenciones</td>
                </tr>
                <tr>
                    <td>22/06/2023</td>
                    <td>07:00 PM</td>
                    <td>Seminario de JavaScript avanzado</td>
                    <td>Virtual</td>
                    <td>En línea</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>